
/*body
{
    font-family: Tahoma;
    font-size: 13px;
    background-color: #FFFFFF;
    color: #666666;
    background: url("image/content-tail.gif") repeat !important;
    margin: 0px;
    padding: 0px;
}*/
body
{
    background: #F8F8F8 url('image/bg.jpg') repeat scroll 0 0 !important;
    color: #333333;
    font-family: tahoma;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
h2
{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.spinner
{
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font: 12px tahoma, Helvetica;
    outline: medium none;
    padding: 10px 10px 0.55em 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background-position: right center;
    width: 180px; /*border: 1px solid black;*/
    text-align: center;
    height: 55px;
    position: fixed;
    z-index: 1001;
    top: 400px;
    right: 600px;
    font-size: 13px;
    background-image: url('image/waiting.gif');
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: left; /*padding-top: 10px;*/
    font-weight: bold;
    color: #000000; /*padding-left: 30px;*/
    background-color: #F4F4F4;
}
#Container
{
    direction: ltr;
    height: inherit;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width:1263px;
}
#Header
{
    background: none repeat scroll 0 0 transparent; /*border-bottom: medium none;     border-top: 4px solid #3FA757;*/
    padding: 0;
    margin: 0 !important;
    z-index: 101; /*background-color: #FFFFFF;*/
    width: 100%;
}
.topline
{
    background-color: #333333; /*background-image: linear-gradient(#48BD3C, #40A035);     border-bottom: 1px solid #006F07;*/
    box-shadow: 0 0 0 #DDDDDD;
    width: 100%;
    height: 3px;
    margin: 0;
}
#TopMenu
{
    /*background: #F4F4F4 none repeat scroll 0 0;*/
    height: 40px;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 100%;
    border-right-style: solid; /*border-bottom-style: solid;*/
    border-left-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-color: #F4F4F4;
    border-bottom-color: #F4F4F4;
    border-left-color: #F4F4F4;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 6px -2px #CCCCCC;
}
#TopMenu ul
{
    padding-right: 10px;
}
#TopMenu li
{
    font-size: 11px;
}
#shoppingCartDetails ul
{
    /*border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;*/
    margin-bottom: 3px;
    display: block;
}
#shoppingCartDetails ul li
{
    float: right;
}
#RightBox
{
    /*margin-top:10px;*/
    float: left;
    height: inherit;
    width: 250px; /*background: #F4F4F4 none repeat scroll 0 0;*/
}
#LeftBox
{
    float: right;
    height: inherit;
    width: 100px; /*background: #F4F4F4 none repeat scroll 0 0;*/
}
#Center
{
    float: left;
    height: inherit;
    width: 875px;
    padding-top: 15px;
}
.content
{
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: #C0C0C0;
    margin-bottom: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px; /*margin-top: 18px;*/
}
.regcontent
{
    /*border-bottom-style: dotted;     border-bottom-width: 2px;     border-bottom-color: #C0C0C0;*/
    margin-bottom: 5px; /*border: 1px solid #DDDDDD;     border-radius: 3px 3px 3px 3px; /*margin-top: 18px;*/
}
.topCategory a
{
    font-family: tahoma !important;
    font-size: 13px !important;
    color: #00008C !important;
    float: left;
    direction:ltr;
}
.content_box
{
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding: 0 10px 20px 10px;
}
.reg_content_box
{
    background: none repeat scroll 0 0;
    overflow: hidden;
    padding: 0 20px 20px;
}
.content_box .header
{
    background: none repeat scroll 0 0 #F8F8F8;
    margin: 0 -10px 20px;
    padding: 7px; /*border-bottom-style: dashed;     border-bottom-width: 1px;     border-bottom-color: #C0C0C0;*/
}
.reg_content_box .header
{
    background: none repeat scroll 0 0 #F8F8F8;
    margin: 0 -20px 20px;
    padding: 7px; /*border-bottom-style: dashed;     border-bottom-width: 1px;     border-bottom-color: #C0C0C0;*/
}
.reg_content_box .header .dots
{
    background: url("image/dots_pat.png") repeat-x scroll center center transparent;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
.content_box .header .dots
{
    background: url("image/dots_pat.png") repeat-x scroll center center transparent;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
.reg_content_box .header h2
{
    float: right;
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    padding: 0 0 0 10px;
    background: none repeat scroll 0 0 #F8F8F8;
    color: #666666;
    margin: 0;
    vertical-align: middle;
}
.content_box .header h2
{
    float: right;
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    padding: 0 0 0 10px;
    background: none repeat scroll 0 0 #F8F8F8;
    color: #666666;
    margin: 0;
    vertical-align: middle;
}
.content_box .content_item
{
    margin-bottom: 20px;
    overflow: hidden;
}
.content_box .content_img
{
    float: right; /* margin-left: 15px;*/
    margin-right: 0;
    border: 1px solid #EEEEEE;
    float: left;
    margin-right: 15px;
    padding: 4px;
    position: relative;
    z-index: 100;
}
.content_box .item_content #paging
{
    margin-left: 0; /*margin-right: 118px;*/
    margin-bottom: 15px;
    margin-top: 5px;
    position: relative;
}
.item_content #paging a
{
    font-size: 11px !important;
    margin-right: 5px;
    margin-left: 3px;
    padding: 2px;
}
.item_content #paging a:hover
{
    color: #BF2600;
}
.current
{
    color: #BF2600;
    font-weight: bold !important;
}
#shoppingCart
{
    font-size: 11px;
    float: right;
    margin-right: 5px;
}
.menuUser li
{
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
}
.listH li
{
    display: inline-block;
    vertical-align: top;
    float: left;
}
.listH li.divider
{
    background: url("image/divider_li.png") no-repeat scroll left 2px transparent;
    height: 11px;
    padding: 0 0 3px;
}
.content_box .content_box_bottom
{
    background: none repeat scroll 0 0 #F8F8F8;
    border-top: 1px solid #E0E0E0;
    margin: 0 -20px -20px;
    overflow: hidden;
    padding: 15px 20px 16px;
}
.content_box .content_box_bottom li a
{
    color: #1E547E;
    font-weight: bold;
}
.content_box .content_box_bottom li a : hover
{
    color: #F97C00 !important;
}
.profile_table
{
    background: url("image/BG-Gary-Profile.jpg") repeat-x scroll center bottom transparent;
    margin: 0 auto;
    width: 716px;
    border-collapse: collapse;
}
.profile_table th
{
    border-right: 1px solid #D5D5D5;
    color: #205A8C;
    text-align: left;
    line-height: 22px;
    font-size: 11px;
}
.profile_table td
{
    border-left: 1px solid #D5D5D5;
    padding-right: 10px;
    text-align: right;
    line-height: 22px;
    color: #333333;
}
.profile_table td a
{
    font-weight: bold !important;
}
.profile_table_buttom
{
    background: url("image/Bottom-Gray.gif") no-repeat scroll 0 0 transparent;
    height: 21px;
    margin: 0 auto;
    width: 716px;
}
#phones li
{
    margin: 3px; width: 100px!important; float: right; border-radius: 8px 8px 8px 8px;
}
#mobiles li
{
    margin: 3px; width: 100px!important; float: right; border-radius: 8px 8px 8px 8px;
}
.addItem
{
    float:right;
    display:block;
    background-position: right center;
    cursor: pointer;
    background-image: url('image/Plus.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right:5px;
}
A
{
    color: #1E547E;
    font: 11px Tahoma !important;
    text-decoration: none;
}
A :hover
{
    color: #FF8306 !important;
}
.dots a
{
    font-size: 13px !important;
}
.reg_table, .creg_table
{
    direction: rtl;
    margin-top: 15px;
    padding: 1px;
    position: relative;
    width: 100%;
    font-size: 11px;
    color: #000000;
}
.reg_table Th, .creg_table Th
{
    font-weight: normal;
    text-align: left;
    width: 20%;
    font-size: 12px;
}
.reg_table Th, .reg_table Td, .creg_table Th, .creg_table Td
{
    direction: rtl;
    vertical-align: top;
}
.BTN
{
    height: 28px;
    padding-top: 12px;
    text-align: center;
    width: 100%;
}
table, td, th
{
    line-height: 22px;
}
.alert
{
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #C09853;
}
.alert h4
{
    color: #C09853;
}
#content
{
    min-height: 450px;
}
.sidebox
{
    padding: 15px;
}
.sidebox .title
{
  background: none repeat scroll 0 0 #FCFCFC;
  border-left: 1px solid #1166BB;
  border-radius: 7px 7px 0 0;
  border-right: 1px solid #1166BB;
  border-top: 1px solid #1166BB;
  height: 30px;
  padding: 5px;
    /*border: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #FFFFFF inset;
   
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #FFFFFF;*/
}
.sidebox .title span
{
     background: url("image/list-arrow-3.png") no-repeat scroll 0% 49% transparent;
    margin-top:10px;
     color: #000000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding-left: 15px;
     display: block;
     clear: both;
}
.bank
{
    margin-left: 27px;
    background: url("image/bank.png") no-repeat scroll 100% 49% transparent;
    width:191px;
    height:144px;
    border-radius: 5px 5px 5px 5px;
}
/*.little-title:after {
    clear: both;
    content: "";
    display: block;
    height: 1px;
    width: 1px;
}
.little-title {
    background: url("image/little-title.png") no-repeat scroll 100% 49% transparent;
    color: #000000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding-right: 31px;
}*/
.header-shoppingCart
{
    background: url("image/ui-bg_gloss-wave_70_ffdd57_500x100.png") repeat-x scroll 50% 50% #0078AE;
}
.sidebox .content
{
    background: none repeat scroll 0 0 #FFFFFF;
border-bottom: 10px solid #0044CC;
border-left: 1px solid #0044CC;
border-radius: 0 0 7px 7px;
border-right: 1px solid #0044CC;
box-shadow: 0 2px 2px silver;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    /*background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-width: 1px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;*/
}
.sidebox .ui-widget-content
{
    border: none !important;
}
ul
{
    margin: 0;
    padding-right: 3px;
}
.sidebox .content ul
{
    padding: 0;
    margin: 0;
}
a:link, a:visited
{
    font-size: 13px;
    text-decoration: none !important;
}
a
{
    text-decoration: none;
}
li
{
    list-style-type: none;
    margin: 2px;
    padding: 0;
}
.logo
{
    border-style: none;
    background-image: url('image/logo.png');
    background-repeat: no-repeat;
    background-position: right top;
    width: 123px;
    height: 49px;
    margin-left: 25px;
    margin-top: 13px;
}
#search
{
    margin-right: 105px;
    margin-top: 13px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    height: 38px;
    padding: 0 10px 0 1px;
    width: 69%;
}
#search lu
{
    margin-right: 20px;
    margin-left: 20px;
}
#search li
{
    float: right;
}
.marginRight20
{
    margin-right: 20px;
}
#txtSearch2
{
    border: 1px solid #CCCCCC;
    width: 300px;
    height: 20px;
    padding: 3px;
    border-radius: 3px 3px 3px 3px;
}
.unitRight
{
    float: right;
}
.unitLeft
{
    float: left;
}
.height20
{
    height: 20px;
}
.paddingleft20
{
    padding-left: 20px;
}
input
{
    font-family: Tahoma !important;
    font-size: 12px;
    height: 20px;
}
input[type=text], input[type=password]
{
    font-family: 'Tahoma !important';
    font-size: 12px !important;
    height: 25px;
    border: 1px solid #B1B1B1;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.06) inset;
    border-radius: 3px 3px 3px 3px;
    padding-right: 2px;
    padding-left: 2px;
}
textarea
{
    font-family: Tahoma!important;
    font-size: 12px;
    height: 50px;
    border: 1px solid #B1B1B1;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.06) inset !important;
    border-radius: 3px 3px 3px 3px;
    padding-right:2px;
    padding-left:2px;
}
select
{
    font-family: Tahoma !important;
    font-size: 11px;
    height: 25px!important;
    border: 1px solid #B1B1B1;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.06) inset !important;
    border-radius: 3px 3px 3px 3px;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus
{
    border-color: #336699;
}
input[type=button], input[type=submit], button
{
  border-radius: 3px 3px 3px 3px!important;
  height: 28px;
  font-size:12px;
}
input[type=checkbox], input[type=radio]
{ margin-left:5px;}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
{
    border: 1px solid #CD0A0A !important;
    color: #CD0A0A !important;
}
.hidden
{
    display: none !important;
}
.cleaner
{
    clear: both;
}
.cleanerRight
{
    clear: right;
}
#loginInfo
{
    width: 45%;
    vertical-align: top;
}
#registerLinks
{
    /*border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #C0C0C0;*/
    width: 50%;
    vertical-align: top;
    margin-bottom: 0px;
}
.inputParentli
{
    width: 150px;
    padding: 5px;
    text-align: left;
    font-size: 10px;
    color: #999999;
    vertical-align: top;
}
.labelParentli40
{
    padding-top: 8px;
    width: 40px;
}
.labelParentli50
{
    padding-top: 8px;
    width: 50px;
}
.labelParentli60
{
    padding-top: 8px;
    width: 60px;
}
.labelParentli80
{
    padding-top: 8px;
    width: 80px;
}
.labelParentli150
{
    padding-top: 8px;
    width: 150px;
}
.validationMsgli
{
    width: 200px;
    text-align: right;
    font-size: 11px;
    color: #FF0000;
    vertical-align: top;
}
.usernameInput
{
    width: 150px;
    text-align: left;
    font-size: 12px;
    font-family: tahoma;
}
.inputRightDir
{
    width: 150px;
    text-align: right;
    font-size: 12px;
    font-family: tahoma;
}
.buttonParentli
{
    padding-left: 10px;
    text-align: left;
    width: 210px;
    vertical-align: middle;
}
.submitBtn
{
    width: 110px;
    height: 25px;
    font-size: 11px;
}
.smallSubmitBtn
{
    width: 50px;
    height: 25px;
    font-size: 11px;
}
.linkButon
{
    font-size: 12px;
    height: 25px;
    width: 130px;
}
.titleli
{
    color: #004200;
    font-weight: bold;
    padding-bottom: 7px;
}
.inputRightParentli
{
    width: 200px;
    padding: 5px;
    text-align: right;
    font-size: 10px;
    color: #999999;
    vertical-align: top;
    padding-left: 10px;
}
.yearDropdown
{
    width: 70px;
    margin: 2px;
}
.monthDropdown
{
    width: 40px;
    margin: 2px;
}
.dayDropdown
{
    width: 45px;
    margin: 2px;
}
.displayTextParentli
{
    width: auto;
    padding: 5px;
    text-align: right;
    margin-left: 50px;
}
.displayTextItems
{
    width: auto;
    text-align: right;
    font-size: 13px;
    font-family: tahoma;
    color: #333333;
    margin-left: 10px;
}
.tableBorder
{
    border-collapse: collapse;
    empty-cells: show;
    margin-right: 90px;
    border-color: #CCCCCC;
}
.tableTabBorder
{
    border-color: #CCCCCC;
    border-collapse: collapse;
    empty-cells: show;
    margin-right: 3px;
    float: right;
    background-color: #F3F3F3;
}
.tableTabBorder th
{
    font-family:Tahoma;
    font-size:11px;
    text-align:center;
    border-color: #CCCCCC;
}
.tableTabBorder td
{
    border-style: none none dotted none;
    font-family: Tahoma;
    font-size: 11px;
    text-align: center;
    border-bottom-color: #CCCCCC;
    border-bottom-width: thin;
}
.tableHeader
{
    border-color: #CCCCCC;
    padding: 5px;
    font-family: tahoma;
     font-size: 11px;
    line-height: 15px;
}
.tableHeader td
{
    border-color: #CCCCCC;
    padding: 5px;
    font-size: 11px;
    font-family: tahoma;
    line-height: 15px;
    color: #333333!important;
    font-weight:bold;
}
.tableHeader a
{
    padding: 5px;
    font-size: 11px;
    font-family: tahoma;
     color: #333333!important;
}
.margin5
{
    margin: 5px;
}


/********* Style.css Begin *********/
.spanAction
{
    color: #0000FF;
    cursor: pointer;
    text-decoration: underline;
}
.cursor
{
    cursor: pointer;
}
.HierarchyImage
{
    margin: 5px 0 0 7px;
}
.unit
{
    float: right;
}
.select
{
    color: #000000;
    display: inline-block !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-left: 3px;
    position: relative;
    text-align: right;
    vertical-align: middle;
}
.invisible
{
    display: none !important;
}
/************  styel.css End ***************/

/***** UI Tabs Style Begin ******/
.ui-tabs
{
    direction: rtl !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected, .ui-tabs .ui-tabs-nav li.ui-state-default
{
    float: right !important;
}
.ui-tabs .ui-tabs-nav li a
{
    float: right !important;
}
.left
{
    float: left;
}
/***** UI Tabs Style End ******/
/*
filter box
*/
.report-filter
{
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f7f7f7),color-stop(100%,#ececee));
    background-image: -webkit-linear-gradient(#f7f7f7,#ececee);
    background-image: -moz-linear-gradient(#f7f7f7,#ececee);
    background-image: -o-linear-gradient(#f7f7f7,#ececee);
    background-image: -ms-linear-gradient(#f7f7f7,#ececee);
    background-image: linear-gradient(#f7f7f7,#ececee);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 2px 0 -1px white;
    -webkit-box-shadow: inset 0 2px 0 -1px white;
    -o-box-shadow: inset 0 2px 0 -1px white;
    box-shadow: inset 0 2px 0 -1px white;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    margin: 0 0 20px 0;
}
.report-filter .form-row
{
    margin-left: 15px;
}
.blocker
{
    display: block;
    width: auto;
    float: right;
    height: auto;
}
.form-row
{
    padding-bottom: 5px;
}
.report-filter .form-row label
{
    font-family: Tahoma;
    font-size: 10px !important;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
}
.form-row label
{
    margin: 5px 0px 3px 10px;
    color: #333333;
    display: block;
    float: right;
    font-weight: bold;
}
.form-row .form-field
{
    clear: right;
}
.form-field input
{
    font-size: 12px !important;
}
.form-field select
{
    font-size: 10.3px !important;
}
.report-filter .form-row input
{
    height: 14px;
    line-height: 14px;
    margin: 0;
    padding: 3px 5px;
    width: 134px;
    font-size: 10px !important;
}
.report-filter .form-row select
{
    width: 150px;
}
.report-filter .form-row .selectHierarchy
{
    width: 120px;
}
.form-row select
{
    max-width: 200px;
    padding: 2px;
}

.report-filter a.toggle-more-filters
{
    -moz-box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.25);
    -o-box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.25);
    box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.25);
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background: url(images/arrow.png) no-repeat 7px 8px #f6f6f6;
    border: 1px solid #ccc;
    padding: 0 15px 0 10px;
    color: #666;
    display: block;
    position: absolute;
    bottom: -22px;
    height: 20px;
    right: 10px;
    line-height: 21px;
    font-size: 10px !important;
    text-transform: uppercase;
    text-decoration: none;
    width: 123px;
}
.report-filter a.toggle-more-filters.open
{
    background-image: url(images/arrow-up.png);
}
.report-filter .clear-filters
{
    position: absolute;
    bottom: -20px;
    left: 175px;
    font-size: 11px !important;
}
.report-filter .more-filters
{
    display: none;
}
.report-filter .more-filters.show
{
    display: block;
}


.clearer
{
    clear: both;
    float: none;
    height: 0;
}


#cb_d_Sale
{
    background-color: #FF6600;
}
#cb_d_Sale label
{
    background-color: #FF6600;
}
#cb_d_Sale label span
{
    background-color: #FF6600;
}


.main-content
{
    clear: right;
    padding: 0 0 10px;
    margin: 25px 25px 20px;
}
/*
filter box end
*/

/*
nav-menu
*/
#footer
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #CCCCCC;
    margin: 50px 0 0;
    overflow: hidden;
    padding: 5px 10px 10px 10px; 
    width:100%;
}
#footer .nav-menu
{
    text-align: center;
    font-size: 11px;
    color: #666666;
    margin-right: 410px;
    margin-left:410px;
}
#footer .nav-menu ul
{
    text-align:center;
}
#footer .nav-menu li
{
    float:right;
    display:block;
}
#footer .nav-menu li a
{
    display:block;
    padding-right: 7px;
    padding-left: 7px;
}
#footer .footer-text
{
    text-align: center;
    font-size: 11px;
    color: #666666;
    margin-right: 380px;
    margin-left:380px;
    margin-bottom:15px;
    margin-top:15px;
}
.border
{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    float: right;
    height: 32px;
    margin: 5px;
    padding: 5px 5px 0;
    text-align: center;
    width: auto;
    font-weight: normal;
}
.logonLink
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #D53B22;
    background-image: -moz-linear-gradient(0px 0 , rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0) 50%), linear-gradient(#D53B22, #F0543A);
    background-origin: padding-box;
    background-position: -100px -100px, 0 0;
    background-repeat: no-repeat;
    background-size: 250% 250%, 100% 100%;
    border-radius: 8px 8px 8px 8px;
    border-top: 1px solid #D53B22;
    box-shadow: 0 1px 0 #000000;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    transition: background-position 0s ease 0s;
    font-weight: normal !important;
}
.logonLink :hover
{
    background-color: #E26149;
}

/* product box style */

#itemBoxContainer
{
    width: 100%;
    text-align: center;
    padding-right: 20px;
}
#itemBoxContainer .product_box
{
    padding: 5px 2px 5px 0px;
    margin: 5px 7px 5px 3px;
    float: right;
    width: 256px !important;
    height: 365px;
    text-align: center; /*border: 1px solid #CCCCCC;     border-radius: 2px 2px 2px 2px;     box-shadow: 0 2px 6px -2px #65645F;*/
}
#itemBoxContainer .product_box:hover
{
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.4);
    z-index: 5;
}
.productImg
{
    border: 1px solid #C0C0C0 !important;
    border-radius: 3px 3px 3px 3px !important;
    width: 231px;
    height: 231px;
}
.name
{
    font-size: 12px;
    color: #4E4E4E;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 0;
    padding-right: 5px;
    padding-top: 0px;
    margin-top: 5px;
}
.name span
{
    font-size: 12px;
    color: #808080;
    margin-right: 5px;
}
#detailsDscription .buynow
{
    width:100px;
    float:right;
    /*margin-right:40px;*/
}
.finishOrder
{
    width:100px;
    float:right;
    margin-right:40px;
}
.buynow span
{
    background-image: url('image/icon-add2cart.gif');
    background-position: right top;
    background-repeat: no-repeat;
    border-style: none; /*text-align: center;*/
    text-align: right;
    font-family: Tahoma;
    font-size: 11px;
    width: 100px !important;
    height: 30px;
    float: right;
    margin-right: 60px;
    vertical-align: middle;
    padding-top: 7px;
    padding-right: 32px;
    color: #3C003C;
}
.finishOrder span
{
    background-image: url('image/images.jpeg');
    background-position: right top;
    background-repeat: no-repeat;
    border-style: none; /*text-align: center;*/
    text-align: right;
    font-family: Tahoma;
    font-size: 12px;
    width: 100px !important;
    height: 30px;
    float: right;
    margin-right: 60px;
    vertical-align: middle;
    padding-top: 7px;
    padding-right: 32px;
    color: #3C003C;
}
.return
{
    background-image: url("image/back.jpg");
    background-position:  right top;
    background-repeat: no-repeat !important;
    border-style: none !important;
    cursor: pointer;
    height: 30px !important;
    width: 130px !important;
    float: right;
     padding-top:7px;
    padding-right:25px;
}
#shoppingCartSumm
{
    position: absolute;
    z-index: 2000;
    top: 44px;
    left: 85px;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 8px -2px #65645F;
    background-color: #FFFFFF; /*padding: 5px;*/
}
.linkShopBag
{
    background: #F5F5F1;
    height: 40px;
    margin: 0 0 0 1px;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    border-top-style: dotted;
    border-top-width: 2px;
    border-top-color: #C0C0C0;
}
#shoppingCartDetails
{
    padding: 5px;
    margin: 5px;
}
#showShoppingCart
{
    background-image: url('image/showbs.png');
    background-position: right top;
    background-repeat: no-repeat;
    border-style: none;
    text-align: center;
    font-family: Tahoma;
    font-size: 11px;
    width: 100px !important;
    height: 30px;
    float: right;
    vertical-align: middle;
    padding-top: 7px;
    padding-right: 20px;
    margin: 5px;
    color: #000000;
    vertical-align:middle;
    cursor:pointer;
}
.shoppingCartTbl th
{
    border-bottom: 1px solid #D5D5D5;
    color: #236923;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.shoppingCartTbl td
{
    border-bottom: 1px solid #D5D5D5;
    color: #333333;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
}
.deleteCol
{
    background-position: center center; 
    cursor: pointer; 
    background-image: url('image/DeleteRed51.png'); 
    background-repeat: no-repeat; 
    width: 20px; height: 20px;
}
#continue
{
    padding: 2px;
    border: 1px solid #DDDDDD;
    text-align: center;
    vertical-align: middle; /*background-color: #EBEBEB; border-radius: 2px 2px 2px 2px;     box-shadow: 0 2px 4px -2px #65645F;*/
    margin: 5px;
    cursor: pointer;
    font-size: 11px;
    color: #1E547E;
}
#continue:hover
{
    color: #FF8306 !important;
}
.arrow_top
{
    background-position: right bottom;
    border-color: transparent transparent #BEBEBE;
    position: absolute;
    top: 50px;
    right: 500px;
    left: 80px;
    background-image: url('image/top.png');
    background-repeat: no-repeat;
    margin-right: 20px;
    width: 50px;
    height: 29px;
}
/*.arrow_top {
  border-color: transparent transparent #FFFFFF;
  border-style: solid;
  border-width: 9px;
  height: 0;
  position: absolute;
  top: 50px;
  right: 500px;
    left: 80px;
  width: 0;
  z-index: 1000;
}*/
.showDetails
{
    margin-right: 25px;
}
.showDetails a
{
    width: 5px;
    height: 5px;
    padding: 1px 0;
    float: right;
    background-image: url('image/details.png');
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    vertical-align: middle;
    padding-right: 10px;
    padding-top: 5px;
}
.price
{
    font-size: 12px;
    margin-bottom: 0px;
    padding-left: 5px;
    text-align: center;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px; /*margin-top: 7px;*/
}
/* top product box style */

#topitemBoxContainer
{
    margin: 3px;
    width: 90%;
}
#topitemBoxContainer .topproduct_box
{
    padding: 5px 2px 5px 0px;
    margin: 0px 5px 5px 5px;
    width: 90% !important;
    height: 285px;
    text-align: center; /*border: 1px solid #CCCCCC;     border-radius: 2px 2px 2px 2px;     box-shadow: 0 2px 6px -2px #65645F;*/
    background-color: #FFFFFF !important;
}
.topproductImg
{
    width: 90%;
    height: 130px;
    margin: 4px;
}
.topname
{
    font-size: 10px;
    color: #4E4E4E;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 0px;
    margin-top: 1px;
}
.topname span
{
    font-size: 11px;
    color: #808080;
    margin-right: 5px;
}
.topbuynow span
{
    background-position: center center;
    width: 60%;
    height: 51px;
    padding: 1px 0;
    margin: 0 1px 10px 1px;
    float: left; /*background-image: url('image/orderBs2.png');     background-repeat: no-repeat;*/
    border-style: none;
    color: #1E547E;
    font: 11px Tahoma !important;
}
.topshowDetails span
{
    background-position: center center;
    width: 35%;
    height: 51px;
    padding: 1px 0;
    float: right; /*background-image: url('image/details.png');     background-repeat: no-repeat;*/
}
.topprice
{
    font-size: 12px;
    margin-bottom: 0px;
    padding-left: 5px;
    text-align: center;
    color: #C43100;
    padding-left: 5px;
    padding-right: 5px; /*margin-top: 7px;*/
}

/* product details description */

#detailsDscription
{
    float: right; 
    width: 290px;
}
/*set a border on the images to prevent shifting*/
#gallery_01 img
{
    border: 2px solid white;
    width: 75px;
}

/*Change the colour*/
.active img
{
    border: 2px solid #333333 !important;
}
.zoom-wrapper
{
    background-color: #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}
.zoom-left
{
    float: left; /*width: 412px;*/
}
.available
{
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 6px -2px #65645F;
}
.selected
{
    border: thin solid #660033 !important;
    padding: 1px;
}
.warning
{
    border: 1px solid #FF3E3E !important;
    background-color: #FFE7E6;
}
/*** jquery right menu style begin ***/
.sidebox .ui-widget-content .ui-icon
{
    height: 16px;
    width: 16px;
}
.sidebox .ui-state-active,.sidebox .ui-widget-content .ui-state-active, .sidebox .ui-widget-header .ui-state-active
{
    background: repeat-x scroll 50% 50%!important;
    border: none !important;
    color: #FF6600!important;
    font-weight: normal;
}
.sidebox .ui-menu .ui-menu-icon
{
    float: right !important;
}
.sidebox .ui-menu
{
    width: 200px !important;
}
.sidebox .topCategory
{
    height: 28px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}
.sidebox .ui-menu .ui-menu-item
{
    height: 25px;
}
.sidebox .ui-menu .ui-menu-item a
{
    font-size: 13px !important;
    font-family: Tahoma !important;
    font-style: normal !important;
}
.sidebox .ui-widget-content .ui-icon
{
    background-position: 185px;
    background-image: url('image/arrows-en.png') !important;
    background-repeat: no-repeat !important;
}
.sidebox .content .ui-state-focus
{
    background-image: none !important;
    border: none !important;
    background-color: transparent !important;
    color: #003366 !important;
}
.parentItem-icon
{
    background-position: 185px;
    background-image: url('image/arrows-en.png') !important;
    background-repeat: no-repeat !important;
}
.Item-menu 
{
    padding-left:10px; text-align:left;
}
.Item-menu :hover
{
    color: #003366 !important;
}
.sub-menu-ul
{
    border: 1px solid #CCCCCC !important;
    border-radius: 3px 3px 3px 3px !important;
}
.sub-menu :hover
{
    border: none !important;
    background-color: #FFFFFF !important;
    color: #003366 !important;
}
.sidebox .frog .ui-widget-header
{
    border: none !important;
    font-size: 13px !important;
    font-weight: normal !important;
    color: #FFFFFF !important;
    font-family: tahoma !important;
}
.sidebox .blue .ui-widget-header
{
    border: none !important;
    font-size: 13px !important;
    font-weight: normal !important;
    color: #FFFFFF !important;
    font-family: tahoma !important;
}
.gh-tbl, .gh-tbl2
{
    margin-left: 105px;
    margin-top: 13px;
    border-collapse: collapse;
    border-spacing: 0;
}


.gh-td
{
    padding: 0;
    vertical-align: bottom;
    width: 785px;
}
#gh-ac-box
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 0 0 3px;
    height: 38px;
    padding: 0 5px 0 1px;
    width:785px;
}

#gh-ac-box2
{
    position: relative;
    white-space: normal;
}

#txtSearch
{
    background: none repeat scroll 0 0 transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #777777;
    font-size: 12px;
    margin: 0;
    outline: 0 none;
    padding: 5px 0 9px 0 !important;
    /*width: 85%;*/
}
#btnSearchProduct.btn
{
    font-size: 13px;
    height: 40px;
    margin: 0 0 0 5px;
    border-radius: 3px 3px 3px 3px;
}

.gh-w a:focus, .gh-w a:hover
{
    text-decoration: underline;
}

#catSpan
{
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    left: 5px;
    margin-left: 5px;
    padding: 2px;
    position: absolute;
    top: 5px;
    white-space: nowrap;
}
#catSpan .link
{
    background: none repeat scroll 0 0 #F1F1F1;
    text-align:left;
}
/***  Tab Styles Begin ***/
#tabs .ui-widget
{
    font-family: Tahoma !important;
    font-size: 12px !important;
}
#tabs .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    /*font-family: Tahoma !important;
    font-size: 12px !important;*/
}
#tabs .ui-tabs .ui-tabs-nav li
{
    border-bottom: 0 none !important;
    float: right !important;
    list-style: none outside none;
    margin: 1px 0.2em 0 0;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
}
#tabs .ui-state-active,#tabs .ui-widget-content .ui-state-active,#tabs .ui-widget-header .ui-state-active
{
   /* color: #FFFFFF !important;
    font-weight: normal !important;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #FF6F0F;*/
}

#tabs .ui-state-active a,#tabs .ui-state-active a:link,#tabs .ui-state-active a:visited
{
    /*color: #FFFFFF!important;*/
    text-decoration: none;
}
#tabs .ui-tabs .ui-tabs-panel
{
    background: #F8F8F8 none repeat scroll 0 0 !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 5px 5px 5px 5px !important;
    display: block !important;
    padding: 1em 1.4em !important;
}
#tabs
{
    background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF !important;
    border: none;
    color: #222222;
}
#tabs .ui-widget-header
{
    /*background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;*/ /*border: 1px solid #AAAAAA;*/
    border: none;
    color: #222222;
    font-weight: bold;
    background: #FFFFFF;
}
#tabs .stepButton
{
    width: 120px;
    height: 25px;
}
/***  Tab Styles Edn ***/

/***** Paging Begin ******/
.pagination
{
    font-size: 100%;
}

.pagination a
{
    text-decoration: none;
    color: #1E547E;
}
.pagination a:hover
{
    text-decoration: underline;
    color: #BF2600;
}
.pagination a, .pagination span
{
    display: block;
    float: right;
    padding: 0.3em 0.5em;
    margin-right: 4px;
    margin-bottom: 4px;
    min-width: 1em;
    text-align: center;
}
.PagingSelect
{
    height: 18px;
    display: none;
}
.pagination .current
{
    background: #FFFFFF;
    font-size: 11px;
}

.pagination .current.prev, .pagination .current.next
{
    color: #1E547E;
    border-color: #999;
    background: #fff;
}


.paging li
{
    display: inline;
}

.PageMenu a
{
    display: block;
    background-color: Red;
}

.PageMenu li
{
    padding-right: 32px;
    padding-left: 32px;
    background-color: Lime;
    float: right;
}
/***** Paging End ******/
/*#productInfo
{
    /*border-color: #ECE6DD;*/ /*border-color: #336699;*/
    /*border-color: #C0C0C0;
    border-style: solid;
    border-width: 0 1px thick 1px;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
}*/
.TechnicalInfoTable
{
    background-color: #FFFFFF;
    border: 1px solid #D5D1CA;
    direction: ltr;
    margin: 10px auto;
    text-align: right;
    width: 675px;
}
#productNameTechInfo
{
    background-color: #FFFFFF;
    direction: ltr;
    margin: 10px auto;
    text-align: right;
    width: 675px;
    font-family: tahoma;
    font-size: 13px;
    text-align: right;
}
#generalInfo
{
    background-color: #FFFFFF;
    direction: ltr;
    margin: 10px auto;
    text-align: right;
    width: 675px;
}
.TechnicalInfoTable .split
{
    background-color: #ECE8E1;
    height: 1px;
    margin: 0 20px;
}
.Title
{
    background-color: #F1F1EF;
}
.TechnicalInfoTable .Group
{
    background-color: #ECE8E1;
    direction: rtl;
    font-weight: 600;
    padding-right: 13px;
    font-family: tahoma;
    font-size: 11px;
}
.TechnicalInfoTable tr
{
    direction: ltr;
}
.TechnicalInfoTable .Value
{
    direction: ltr;
    padding-left: 10px;
    text-align: right;
    width: 510px;
    font-family: tahoma;
    font-size: 11px;
}
.TechnicalInfoTable .Filde
{
    direction: rtl;
    padding-right: 20px;
    text-align: right;
    vertical-align: top;
    width: 170px;
    font-family: tahoma;
    font-size: 11px;
}
#proplinks a
{
    display: block;
    padding: 5px;
    margin: 5px;
    color:#336699!important;
}
.scrollImgul
{
    height: 2465px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -1160px;
    z-index: 1;
}
.scrollImgli
{
    float: none;
    height: 145px;
    overflow: hidden;
    width: 170px;
}

.arrowup
{
    background: url("image/arrow_up.png") no-repeat scroll 25px 0px transparent;
    display: block;
    height: 23px;
    text-decoration: none;
    width: 100px;
    right: 10px;
}
.arrowdown
{
    background: url("image/arrow_down.png") no-repeat scroll 25px 10px transparent;
    display: block;
    height: 23px;
    text-decoration: none;
    width: 100px;
    right: 10px;
}
/**** Register Page Begin ****/
.RegForm
{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 4px 4px 1px #C4C4C4;
    margin: 2px 0 30px;
    padding: 14px 26px 26px;
}
.RegForm .BTN
{
    text-align: center;
}
.RegForm input[type=text], .RegForm input[type=password], .RegForm textarea
{
    width: 183px;
}
.RegForm th
{
    text-align: right !important;
    width: 100px;
}
.RegForm td
{
    text-align: right !important;
    width: 350px;
}
/*.RegForm td input, .RegForm td span, .RegForm td textarea
{
    float:right;
}*/
.RegForm table
{
    width: 500px;
    float: right;
}
#Address #hierarchyAddress
{
    width:160px;
}
/**** Register Page End ****/
#content .box .box-heading {
  background: url("image/h2-line.png") no-repeat scroll right top transparent;
  border-bottom: 0 none;
  color: #FFFFFF;
  display: inline-block;
  font: 22px us101;
  height: 60px;
  margin: 0 1px 5px;
  padding-bottom: 1px;
  padding-right: 252px;
  padding-top: 13px;
  text-shadow: 0 0 0.2em #88FF77;
  width: 80%;
}
/******************************
 *** BLOG CATEGORIES START ****
 ******************************/
/******* image shadow *******/
.recent-works {
    background: url("image/img-shadow.png") no-repeat scroll left bottom transparent;
    display: block;
    float: left;
    padding: 0 0 15px 9px;
    text-align: right;
    width: 93%;
}
/******************************
 ***** BLOG CATEGORIES END ****
 ******************************/
 
 /******* jquery syles *******/
 .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Tahoma!important;
  font-size: 11px!important;
}
#OrdersTab .ui-state-active, #OrdersTab .ui-widget-content .ui-state-active, #OrdersTab .ui-widget-header .ui-state-active
{
    border-top: 1px solid #655E4E !important;
    border-left: 1px solid #655E4E !important;
    border-right: 1px solid #655E4E !important;
    border-bottom: none !important;
   
}
#OrdersTab .ui-state-active a, #OrdersTab .ui-state-active a:link, #OrdersTab .ui-state-active a:visited
{
    color: #663300!important;
    font-size: 12px !important;
}
#OrdersTab .ui-tabs {
  padding: 0!important;
}
#OrdersTab .ui-widget-content
{
    border-bottom: medium solid #663300 !important;
    border-right: thin solid #663300 !important;
    border-left: thin solid #663300 !important;
    border-top: none !important;
    border-right-color: #1C0E00 !important;
    border-bottom-color: #1C0E00 !important;
    border-left-color: #1C0E00 !important;
}
#OrdersTab table .ui-state-default td
{
    line-height:3px!important;
}
#OrdersTab table .ui-state-default a, #OrdersTab table .ui-state-default span
{
    text-align:center!important;
    font-family:Tahoma!important;
    font-size:11px!important;
    font-weight:bold!important;
}
#OrdersTab table th,#OrdersTab table td
{
    text-align:center!important;
    font-family:Tahoma!important;
    font-size:11px!important;
}
#divReportsearch .sunny .ui-state-default, #divReportsearch .sunny .ui-widget-content .ui-state-default, #divReportsearch .sunny .ui-widget-header .ui-state-default {
   border: none !important;
}
/*#productInfo .ui-state-active, #productInfo .ui-widget-content .ui-state-active, #productInfo .ui-widget-header .ui-state-active
{
    border-style: solid solid none solid;
    border-width: 1px 1px medium 1px;
    border-color: #AAAAAA #AAAAAA #336699 #AAAAAA;
    background: url("images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
    color: #FF3300 !important;
    font-weight: normal;
}*/
/*#productInfo .ui-state-active a, #productInfo .ui-widget-content .ui-state-active a, #productInfo .ui-widget-header .ui-state-active a
{
    color: #FF3300!important;
    font-weight: normal;
}*/
.tableTabBorder .sunny .ui-state-default, .tableTabBorder .sunny .ui-widget-content .ui-state-default, .tableTabBorder .sunny .ui-widget-header .ui-state-default
{
    border-style: none !important; 
    /*background: url("../themes/base/images/ui-bg_highlight-soft_75_ffe45c_1x100.png") repeat-x scroll 50% 50%!important;*/
    color: #4C3000;
}
#dialog .ui-state-default,#dialog .ui-widget-content .ui-state-default,#dialog .ui-widget-header .ui-state-default {
  /*background: url("../themes/base/images/ui-bg_glass_55_f8da4e_1x400.png") repeat-x scroll 50% 50% #E6E6E6;*/
  border: 1px solid #D3D3D3;
  color: #555555;
  font-weight: normal;
}
#DetailPaymentList .ui-state-default,#DetailPaymentList .ui-widget-content .ui-state-default,#DetailPaymentList .ui-widget-header .ui-state-default {
  b/*ackground: url("../themes/base/images/ui-bg_glass_55_f8da4e_1x400.png") repeat-x scroll 50% 50% #E6E6E6;*/
  border: 1px solid #D3D3D3;
  color: #555555;
  font-weight: normal;
}
#DetailPaymentList .ui-state-default, #DetailPaymentList .ui-widget-content .ui-state-default, #DetailPaymentList .ui-widget-header .ui-state-default
{
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #D3D3D3;
    /*background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;*/
    color: #555555;
    font-weight: normal;
}
.ui-dialog .ui-widget-header
{
    border-style: none!important;
    background: #FFFFFF repeat-x scroll 50% 50%!important;
    color: #222222;
    font-weight: bold;
}
.ui-dialog .ui-widget-header {
  border-style: none!important;
    background: #FFFFFF repeat-x scroll 50% 50%!important;
    color: #222222;
    font-weight: bold;
}
#receiverDtTable th
{
    color: #205A8C;
    font-size: 11px;
    line-height: 25px;
    text-align: left;
    font-family: tahoma;
    padding-right:20px;
}
#receiverDtTable td
{
    color: #333333;
    line-height: 22px;
    padding-right: 10px;
    text-align: right;
     font-family: tahoma;
}
