body {
	/*background:#EDEEF0;*/
	background:#fff;
}

::selection {
	color:#fff;
	background:#a90e09 ;
}
::-moz-selection {
	color:#fff;
	background:#a90e09 ;
}
::-webkit-selection {
	color:#fff;
	background:#a90e09 ;
}





a:hover, a:focus {
	color:#c51812 ;

}

.search-full, .search-input { 
	background: #a90e09 ;
}

.search-close {
	color: #a90e09 ;
}


.btn-primary {
	background-color: #c51812 ;
	color: #FFFFFF;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background:  #2c88c5;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #ba6bda;
	border-color: #ba6bda;
	color: #FFFFFF;
}

.navbar-top {
	background:#a90e09 ;
}

.navbar-tshop {
	background:#c51812 ;
}



.site-color {
	color:#c51812  !important;
}



.navbar-nav > li > a {
	color:#fff;
}

.nav > li.active, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a  {
	background:#a90e09 ;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .cartMenu:hover > a.dropdown-toggle {
	background:#a90e09 ;
}


.dropdown-menu {
	border-top: solid  #a90e09 ;
}
.search-box:hover .form-control {
	background:#c51812 ;
}
.search-box:hover .btn-nobg { 
	color:#c51812 ;
}

.searchInputBox .search-btn {
	color:#fff;
}

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background:rgba(155, 89, 182,0.7) !important;
}

.action-control a:hover, .action-control a.active {
	color:#fff;
	background:#a90e09 ;

}

.product:hover {
	border: 1px  solid #c51812 ;
	border-bottom: 2px solid #c51812 ;
}


.subCategoryList .thumbnail:hover  {
	 border: 1px solid #c51812 ;
}

.pager2 a {
    border: 1px solid #c51812 ;
	
}

.pager2 a.selected {
	background:#c51812 ;
}

.btn-site, .newsLatterBox .btn {
	background: #c51812 ;
}

.btn-discover:hover, .btn-site:hover , .newsLatterBox .btn:hover {
	background: #a90e09 ;
}

.full {
	width:100%;
}

.footer a:hover {
	color:#c51812 ;
}

.footer {
	/*border-top: solid 3px #c51812 ;*/
}

.modal-header {
    background: #c51812 ;
}

.form-control:focus {
    border-color: #c51812 ;
}


.new-product {
	background:rgba(155, 89, 182, 0.95) !important;
}

.offer-product {
	background:rgba(39, 174, 94, 0.95) !important;
}

#pager a.cycle-pager-active {
	background:rgba(155, 89, 182, 0.5);
}



/* tree menu */


.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a  {
	background:none;
	color:#2c3e50;
}

.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus {
	background:none;
	font-weight:bold;
	color:#2c3e50;
}


.panel-default > .panel-heading {
	
	
	border-top: 4px  solid #c51812 ;
	
	}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
	background:#BFC9CA;
}

.nav-tabs {
    border-bottom: 3px solid #BFC9CA;
}

.socialIcon a:hover {
	background:#c51812 ;
}

.cart-actions button, .cart-actions .wishlist {
	background: none repeat scroll 0 0 #c51812 ;
    border: 2px solid #a90e09 ;
}

.cart-actions button:hover {
	background:#fff;
	color:#2c3e50;
	border:solid 2px #c51812 ;
}


.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited {
	border: 2px solid #c51812  !important;
}



.promo-1 {
	 background: none repeat scroll 0 0 #a90e09 ;

}

 @media (max-width: 767px) {

	 .miniCartFooter {
		 background:#a90e09  !important;
	 }
 }

#pager2 span.cycle-pager-active {
}

#pager2 span.cycle-pager-active {
    background: #a90e09  !important;
}

#pager2 span {
    border: 2px solid #a90e09  
}

.orderStep li.active a {
    background: #c51812 ;
}

.orderStep li.active a:after {
	border-top-color: #c51812  !important;

}
.orderStep li a {
	background:  #2c88c5;
}


darkcoilor {
	background:#2c88c5;
}

citecolor {
	color:#c51812  !important;
}



.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-left: 42.5px;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 27px;
  left: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #c51812 ;
}
.has-success .form-control {
  border-color: #c51812 ;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-control:focus {
  border-color: #a90e09 ;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #c51812 ;
  background-color: #dff0d8;
  border-color: #c51812 ;
}
.has-success .form-control-feedback {
  color: #c51812 ;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.form-control-static {
  margin-bottom: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  left: 15px;
}
