.userDefault
{
    float: right !important;
    left: auto !important;
    right: 30px !important;
}
.unit
{
    float: left !important;
}
.left
{
    float: right !important;
}
.unitleft
{
    float: right !important;
}
.menuUser
{
    right: auto !important;
    left: 30px !important;
    float: left !important;
}
.pagination a, .pagination span
{
    float: left !important;
    margin-left: 4px !important;
}
#mainTab .ui-tabs-nav li
{
    float: left !important;
}
.fixed_elem
{
    float: left !important;
}
.report-filter a.toggle-more-filters
{
    left: 10px !important;
    background: url("images/arrow.png") no-repeat scroll 132px 8px #F6F6F6 !important;
}

.report-filter .clear-filters
{
    right: 175px !important;
}
.blocker
{
    float: left !important;
}
.form-row label
{
    float: left !important;
}
table.tablescroll_head thead tr td:first-child, table.tablescroll_head tr td:first-child
{
    -moz-border-radius-topright: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-right: 0px none !important;
    -moz-border-radius-topleft: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-left: 0px none !important;
}
table.tablescroll_head thead tr td:last-child, table.tablescroll_head tr td:last-child
{
    -moz-border-radius-topleft: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  
    -moz-border-radius-topright: 5px !important;
    -webkit-border-top-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-right: 0px none !important;
}
.hAdd
{
    float: right !important;
    margin-left: 65px !important;
}
.hEdit
{
    float: right !important;
    margin-left: 5px !important;
}
.hDelete
{
    float: right !important;
    margin-left: 35px !important;
}
.select
{
    text-align: left !important;
}
