@font-face {
  font-family: 'B Koodak';
  src: url('fonts/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */
       url('fonts/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('fonts/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0 0 1 0;
padding:0;
}
.modalClose{position:absolute;top:33px;left:33px;z-index:1003;}
.modalRemove{position:static;top:;left:;z-index:1003;}
.modalClose a{display:block;overflow:hidden;width:34px;height:0;padding-top:34px;background-image:url(images/button_close_2.png);outline:none;}
.modalClose a:hover{background-position:right 68px;}
.modalClose a:active{background-position:right 34px;}
li{list-style:none;}
caption,th{text-align:right;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;*border:0;}

legend{color:#000;}
img{-ms-interpolation-mode:bicubic;}
body{font-family: tahoma !important;font-size:x-small; position:relative;
    margin: 0;
    left: 0px;
}
table{font-size:medium; font-family:Tahoma;border-collapse: collapse;}

html{overflow:auto;}
.line{*zoom:1;}
.unit{float:right;}
.left{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size1of5{width:20%;}
.size1of6{width:16.66666%;}
.size1of7{width:14%;}
.size3of4{width:74.5%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:underline;}
a.underline{text-decoration:underline;}

.offright{right:-9999px;position:absolute;width:999px;}
.fRight{float:left;}
.fLeft{float:right;}
.visible{display:block!important;}
.hidden{display:none!important;}
h2{font-size:22px;font-weight:bold;padding-bottom:20px;text-transform:uppercase;}
h3{font-size:14px;font-weight:bold;margin-bottom:12px;}
h4{font-size:12px;font-weight:bold;margin-bottom:12px;text-transform:uppercase;}
p{padding-bottom:1em;}
p.entry{font-size:12px;padding-bottom:2em;}
.aright{text-align:left!important;}
.aleft{text-align:right!important;}
.acenter{text-align:center!important;}

.listH{ margin-top:3px;}
.listH li{display:-moz-inline-stack;display:inline-block;vertical-align:top;*display:inline;*zoom:1; }
.listH li.divider{background:url(images/divider_li.png) no-repeat left 2px;height:11px;padding:0 0 3px;}
.searchTextField{border:1px solid #000;height:15px;padding:0 3px 0;width:100px;margin-left:7px; }
.searchButton{border:none;background:url(images/search_button.png) no-repeat 0 -34px;width:21px;height:17px;visibility:visible;vertical-align:top;}
.searchbt{background:url(images/search_bt.png) no-repeat 0 -34px;width:99px; padding:0 3px 0;width:100px;margin-left:7px;}
.searchButton:hover{background-position:0 -17px;}
.searchButton:active{background-position:0 0;}
.labelUp{font-size:12px;font-weight:normal;display:block;}
.labelLeft {font-size:12px;font-weight:normal;display:inline-block;width:130px;margin-bottom:0; padding-right:10px;}
.labelPadding {padding-right:10px;}
.labelAuto {width:auto;}
.label15 {margin-left:15px;}
.label45 {margin-left:50px;}
.label50 {width:50px;}
.label75 {width:75px;}
.label80{ width:80px;}
.labelTo{width:30px; }
 
.label100{width:100px;}
.label130{width:130px;}
.labelCheck{display:inline;vertical-align:middle;.vertical-align:baseline;}
.labelCheck a{text-decoration:underline;}
.labelRadio{display:inline;vertical-align:middle;margin-left:10px;}
.controls{background:url(images/dotted_line.png) repeat-x right bottom;padding-bottom:1em;margin-bottom:1em;}
.inputText{ width:179px;height:26px;padding:0 2px;font-family:Tahoma;font-size:larger; line-height:26px;border:none;background:transparent url(images/input_text.png) no-repeat left top;.background:#fff!important;.border:1px solid #7b7b7b;color:#444;margin-left:2px;vertical-align:middle; }

.inputText[disabled=disabled]{color:Black;background-color:White;}
.inputText:focus{background-position:left -26px;color:#000;width:175px;height:26px;padding:0 4px;}
.inputW34{width:34px!important;background-position:right -156px;}
.inputW34:focus{width:30px!important;background-position:right -182px;}
.inputW50{width:50px!important;background-position:right -104px;}
.inputW50:focus{width:46px!important;background-position:right -130px;}
.inputW136{width:136px!important;background-position:right -52px;}
.inputW136:focus{width:132px!important;background-position:right -78px;}
.inputW213{width:209px!important;background-position:right -52px;}
.inputW213:focus{width:205px!important;background-position:right -78px;}
.inputW70{width:70px!important;background-position:right -104px; }
.inputW80{width:80px!important;background-position:right -104px; }
.inputW100{width:100px!important;}
.textarea{width:177px;height:104px;background:url(images/textarea.png) no-repeat top right;padding:0 4px 0 6px;display:inline-block;border:none;color:#444;font-weight:bold;.background:none;.border:1px solid #7b7b7b;.width:177px;}
.textarea:focus{width:177px;height:104px;background:url(images/textarea.png) no-repeat bottom right!important;color:#000;}
.labelTextarea{vertical-align:top!important;}
.inputCheck{vertical-align:middle;margin-left:.5em;}
.formControls{padding-bottom:1em;}
.formControl{margin-bottom:1em;font-size:12px;}
.formControl .msg{background:none repeat scroll 0 0 #F3F3F3;padding:10px;width:297px;}
.privacyControl{margin:2em 0;}
.requiredLegend{text-align:left;color:#6D6E71;margin-bottom:20px;xoverflow:hidden;}
.inputTip{color:#595959;font-size:10px;font-family:Tahoma;margin:0 2px 0 30px;line-height:15px;display:none;vertical-align:middle;position:absolute;width:320px;}
.tipWarn{font-weight:bold;}
.tipWarn img{vertical-align:middle;margin-left:5px;}

.fontSize15{font-size:1.5em!important;}
.select{display:inline-block!important;text-align:right;font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000;*display:inline!important;zoom:1;margin-left:3px;vertical-align:middle;position:relative;}
.select a:hover{text-decoration:none;}
.dropped .selectChild{visibility:visible;}

.select .selectHead{cursor:default;text-indent:0;border:1px solid #7b7b7b;height:18px;padding:3px 5px;z-index:100;overflow:hidden;}
.select .narrow_height{height:10px;border:1px solid #000;}
.select .selectHead .text{line-height:18px;overflow:hidden;text-indent:1px;font-weight:bold;}
.select .selectHead .narrow_text{line-height:10px;}
.select .selectHead .arrow{background:url(images/arrow_down.png) no-repeat 0 6px;width:10px;height:15px;cursor:pointer;display:inline-block;float:left;height:16px;width:16px;}
.select .selectHead .narrow_arrow{background:url(images/arrow_down.png) no-repeat 0 2px;}
.selectChild{background:url("images/bg_dropdown_1750.png") no-repeat scroll left bottom transparent;_background:#fff;margin:0;width:auto;min-width:182px;padding-bottom:1px;z-index:101;position:absolute;visibility:visible;}
.select .selectChildCont{padding:0 0 6px 0;_padding-bottom:0;width:auto;min-width:182px;display:block;position:relative;overflow:hidden;}
.select .selectChildCont ul{_border:1px solid #7b7b7b;max-height:150px;_height:150px;_height:expression((documentElement.clientHeight <150) ? "150px":"100%");overflow-y:auto;overflow-x:hidden;margin-bottom:1px;_margin-bottom:0;min-width:182px;width:auto;}
.select .selectChildCont ul li{margin-bottom:0;white-space:nowrap;display:block;}
.select .selectChildCont ul li a:hover,.select .selectChildCont ul li a:hover span,.select .selectedOpt a,.select .selectedOpt span{background-color:#7d7d7d;color:#fff;}
.select .selectChildCont ul li a{color:#000;display:block;padding:2px 2px 5px 18px;_width:100%;font-weight:bold;}
.select .selectChild .lb{display:none;}
.select .selectChild .lt{left:0;width:100%;height:1px;background:transparent url(images/bg_dropdown_1750.png) no-repeat scroll left top;position:absolute;_width:100%;_display:none;}
.select .selectChild .rb{background-image:url("images/bg_dropdown_1750.png");background-position:right bottom;bottom:0;height:10px;position:absolute;right:-7px;width:7px;z-index:1001;_display:none;}
.select .selectChild .rt{background-image:url("images/bg_dropdown_1750.png");background-position:right top;bottom:10px;position:absolute;right:-7px;top:0;width:7px;z-index:1001;_display:none;}
.selectSmall{width:75px!important;}
.selectSmall .selectChild,.selectSmall .selectChildCont,.selectSmall .selectChildCont ul{min-width:74px!important;}
.selectMedium1{width:100px!important;}
.selectMedium{width:140px!important;padding:4px;height:26px;font-size:8pt!important;}
.selectLarg{width:160px!important;padding:4px;height:26px;font-size:8pt!important;}
.selectsmall{width:118px!important;padding:4px;height:26px;font-size:8pt!important;}
.select55{width:55px!important;}
.select95{width:95px!important;}
.selectsmall1{width:95px!important;padding:4px;height:26px;font-size:8pt!important;}
.selectMedium .selectChild,.selectMedium .selectChildCont,.selectMedium .selectChildCont ul{min-width:139px!important;}
.selectMedium1 .selectChild,.selectMedium1 .selectChildCont,.selectMedium1 .selectChildCont ul{min-width:119px!important;}
.selectW214{width:214px!important;}
.selectW214 .selectChild,.selectW214 .selectChildCont{min-width:213px!important;}
.table{width:100%;}

.main{width:auto;}
	
	.accordionButton a{	background:url(images/dotted_line.png) repeat-x bottom right;}
	
.accordionContent {	
	width: 100%;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	background: #95B1CE;
	}
		.invoiceDate 
 {   

 width: 12%;
 
 }

  .invoiceNo 
 {

width: 15%;

 }
 		 .orderType 
 {
 
width: 15%;

 }
  .receivedStatusDes
	{

width: 30%;

 
 }
  .invoiceAmount
	{

width: 23%;

	}
	
		.paymentDate 
 {   

 width: 14%;
 
 }

  .paymentNo 
 {

width: 14%;

 }
 		 .payer
 {
 
width: 23%;

 }
  .receiver
	{

width: 23%;

 
 }
  .paymentAmount
	{

width: 23%;

	}
	.invoiceArrowRight{ display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; width: 16px; height: 16px; background-image: url(images/arrow_right.png); background-position:0 3px;}
	.invoiceArrowDown{display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; width: 16px; height: 16px; background-image: url(images/arrow_down.png);background-position:0 3px; }

.on {
	background: url("images/ui-bg_glass_75_e6e6e6_1x400.png");
	}
	
.over {
	background: #CCCCCC;

	}


.menuUser {
    float: right;
    font-size: 10px;
    position: relative;
    right: 50px;
    z-index: 10000;
}

.menuUser li {
    text-transform: uppercase;
}
.menuUser li {
    margin-right: 5px;
}
	

/***********************************************************************************************************************
paging
************************************************************************************************************************/

	.pagination
{
    font-size: 100%;
}
        
.pagination a
{
    text-decoration: none;
    color: #999999;
}
.pagination a:hover
{ 
 text-decoration:underline;
}
.pagination a, .pagination span
{
    display: block;
    float: right;
    padding: 0.3em 0.5em;
    margin-right: 4px;
    margin-bottom: 4px;
    min-width: 1em;
    text-align: center;
}
.PagingSelect 
{
    height:18px;  
    display:none; 
}
.pagination .current
{
    background: #FFFFFF;
    color: #000000;
 
}

.pagination .current.prev, .pagination .current.next
{
    color: #000000;
    border-color: #999;
    background: #fff;
}


.paging li {  
   display: inline
}  

.PageMenu a
{
    
    display:block;
    background-color:Red;
}

.PageMenu li
{
    padding-right:32px;
    padding-left:32px;
    background-color:Lime;
    float:right;
}
.spinner{ width:80px; background-color:White; border:1px solid black; text-align:center; height:20px; border-top-width:0px; position:fixed; z-index:1001; top:2px; right:600px; font-size:12px;}
.mainbody
{

    margin-top: 1.5em;

}
#mainTab li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
.mainmenu
{
    
    right: 0px;
    padding-top:15px;
    overflow: auto;
    width: 12%;
    float: right;
    text-align: right;
    position: absolute;
}

.fixed_elem
{
    position: fixed;
    top: 0px;
    z-index: 1000;
    height: 20px;
    width: 100%;
    float: right;
}
.oddrow
{
    background-color: #F2F2F2;
}
.mouseovertable
{
    background-color: #A6A6FF;
}
.rowOnClick
{
    background-color: #A6A6FF;
}
.cursor{ cursor:pointer;}
.invisible{display:none;}
.unitleft{float:left;}
.imagefortable
{
    width:80px;
    height:60px;
}
.HierarchyImage{margin:5px 0px 0px 7px;}
.paddingTop0{ padding-top:0px;}
.hAdd{float:left; padding-bottom:5px;  padding-top:5px;margin-right:65px;position:absolute; }
.hEdit{float:left;padding-bottom:5px; padding-top:5px;margin-right:5px; position:absolute;}
.hDelete{ float:left; padding-bottom:5px; padding-top:5px;margin-right:35px; position:absolute; }

	.searchText
	{
     display: inline-block;
    position: relative;
    right: -24px;
    top: 5px;
    }

.CheckBox{margin-left:10px; margin-bottom:3px;padding:10px;border:1px solid black;}
	#sortable { list-style-type: none; margin: 0; padding: 0; }
	#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: right; width: 100px; height: 140px; font-size: 4em; text-align: center; }
.disable{background-color:Gray;}
	
.placeholder {color:#aaa;}
.spanAction { 
        cursor: pointer; 
        color: #00f; 
        text-decoration: underline; 
    } 
   
   .QuantityTable input
   {
           width:50px;
   }
   



.tablescroll
{ }

.tablescroll td, 
.tablescroll_wrapper,
.tablescroll_head,
.tablescroll_foot
{ border:1px solid #ccc; }

.tablescroll td
{ padding:1px 2px 1px 2px; }

.tablescroll_wrapper
{ border-left:0; }

.tablescroll_head
{ font-size:11px; font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-bottom:3px; }

.tablescroll thead td
{ border-right:0; border-bottom:0; }

.tablescroll tbody td
{ border-right:0; border-bottom:0;  font: 12px  Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}

.tablescroll tbody tr.first td
{ border-top:0; }

.tablescroll_foot
{ font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-top:3px; }

.tablescroll tfoot td
{ border-right:0; border-bottom:0; }	

	

	


.ui-dialog .ui-widget-header
{
    background:#FFFFFF ; /* <------------------------ background of tab content area */
	border: 0px solid #38402D; /* <------------------------ border of tab content area */
}
.ui-dialog .table
{
   
	border: 0px solid #38402D; /* <------------------------ border of tab content area */
}
.ui-tabs .ui-tabs-panel {
	/*background: #FFF5AA; /* <------------------------ background of tab content area */
	border: 0px solid #38402D; /* <------------------------ border of tab content area */
	position: relative;
	min-height: 200px;
	height: auto !important;
    margin-top :0px;
	border-radius: 0px;
	padding-top: 0px;	
	padding-left:0px;
	padding-right:0px;
	
}

#content {border: 0px dotted #38402D; padding:10px;}
.editBox{padding-bottom:10px; padding-right:3px;}
.tips {display: inline-block; margin-top:5px;}
.SearchTip {display: inline-block; margin-top:5px; position:relative; left:-20}

.login{width:100px; height:20px; margin-top:2px;}


.ui-menu-item { direction:rtl; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Tahoma,Arial,sans-serif;
}

.ui-widget {
    font-family: Tahoma,Arial,sans-serif;
}

.userDefault{float: left; position: relative; left: 30px;
             
             }
             .userDefault select{ box-shadow: 1px 1px 5px #3E9B33;}
             .userDefault input{ box-shadow: 1px 1px 5px #3E9B33;}

.clearable{
    position:relative;
}

.data_field{
    padding-left:10px; /* add space for the 'x' icon*/
}
span.icon_clear{
    position:absolute;
    left:5px;    
    display:none;

    /* now go with the styling */
    cursor:pointer;
    font:1.5em sans-serif;
    color:#38468F;  
    }
    span.icon_search{
    position:absolute;
    left:5px;
    top:0px;    
    display:inline;
    cursor:pointer;
    font:1.5em sans-serif; 
    }
    span.icon_clear:hover{
        color:#f52;
    }
    .ProdViewTab .Group {
    background-color: #ECE8E1;
    direction: rtl;
    font-weight: 600;
    padding-right: 13px;
}
.ProdViewTab tr {
    direction: ltr;
}
.Alt {
    background-color: #F1F1EF;
}
.ProdViewTab .Value {
    direction: ltr;
    padding-left: 10px;
    text-align: right;
    width: 510px;
}
.ProdViewTab .Filde {
    direction: rtl;
    padding-right: 20px;
    text-align: right;
    vertical-align: top;
    width: 170px;
}

#heading 
{
    background-color:rgb(62, 155, 51);
    background-image: linear-gradient(#48BD3C, #40A035);
    border-bottom: 1px solid #006F07;
    box-shadow: 0 0 0 #DDDDDD;
    height: 69px;
}
.content-inner {
    margin: 0 10px 20px;
}
#signin #signin-form {
    padding: 20px 30px;
}
#signin .size2of3 {
    margin: 0 0 0 300px;
}
#signin .size2of3, #signup .size2of3 {
    width: 610px;
}
.section {
    margin-bottom: 15px;
}

#signin h1 {
    margin: 0 0 20px;
    width: 300px;
}
#signin h1, #signup h1 {
    font-size: 36px;
    font-weight: normal;
    line-height: 46px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.text-center {
    text-align: center;
}

.form-no-labels .input-row {
    margin-bottom: 7px;
}
.relative {
    position: relative;
}
.input-row {
    margin-bottom: 10px;
    min-height: 24px;
}

.form-no-labels .input-row {
    margin-bottom: 7px;
}
.input-row {
    margin-bottom: 10px;
    min-height: 24px;
}
.form-no-labels .input-row {
    margin-bottom: 7px;
}
.input-row {
    margin-bottom: 10px;
    min-height: 24px;
}
#container, #top-nav .inner, #heading .inner {
    margin: 0 auto;
    width: 440px;
}
#signin .form-no-labels .section .input-row input, #signup .form-no-labels .section .input-row input {
    width: 280px;
}
.form-no-labels.friendly .input-row input[type="text"], .form-no-labels.friendly .input-row input[type="email"], .form-no-labels.friendly .input-row input[type="password"] {
    font-size: 14px;
}
.form-no-labels .input-row input[type="text"], .form-no-labels .input-row input[type="email"], .form-no-labels .input-row input[type="password"] {
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px 0 #CFCFCF inset;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 5px 9px 3px;
}

#signin a.forgot 
{
    font-family:Tahoma;
    font-size: 11px;
    height: 0;
    right: 211px;
    position: relative;
    text-decoration: none;
    top: -22px;
    color:Blue;
}
strong, .strong {
    font-weight: bold;
}
.block {
    display: block;
}

#signin, #signup {
    background: none repeat scroll 0 0 #F5F5F5;
}
#signin #main-body {
    margin: 80px auto;
}
#signin p.reset_details {
    line-height: 18px;
    margin: 0 0 20px -20px;
    width: 340px;
}
.text-center {
    text-align: center;
}
.em, .grey-font {
    color: #666666;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

#forgot_password_user_name{
    float: right;
    margin-left: 5px;
    width: 205px !important;
}
#heading .inner {
    margin: 0 auto;
    width: 1000px !important;
}

#footer
{
    background: #CCCCCC none repeat scroll 0 0;
    border-top: 1px solid #CCCCCC;
    margin: 50px 0 0;
    overflow: hidden;
    padding: 5px 350px 10px;
    border-top-color: #333333;
    text-align:center;
}

.cleaner {
    clear: both;
}


#help  h1{ font-size:20px; cursor:pointer; color:#3E9B33; line-height:0px;}
#help  ul{ width:48%; }
#help p { padding:0px;}
#help li 
{
    box-shadow: 1px 1px 10px #3E9B33;
    height: 60px;
    padding: 20px;
}
#help  .first { margin-left:3.9%;}

#g-search-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative; 
  top: 3px;
}

.whiteFont {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 16px;
}