#content .content-inner {
    margin: 0 10px;
}



#subheading h1, .subheading h1 {
    font-weight: bold;
    margin: 0;
}

.extra-top-margin {
    margin-top: 20px;
}

.radius-5 {
    border-radius: 5px 5px 5px 5px;
}
.bar-1 {
    border: 1px solid #9E9E9E;
    margin-bottom: 15px;
    min-height: 22px;
    padding: 8px 10px;
}
.box-gradient-1 {
    background-image: linear-gradient(#E6E6E6, #D2D2D2);
    box-shadow: 0 2px 0 -1px #FFFFFF inset;
}

.bar-1 .button-2.right {
    margin: 0 0 0 2px;
}
.bar-1 .button-2 {
    margin-right: 2px;
}
.right {
    float: right;
}
.button-2 {
    background-image: linear-gradient(#FAFAFA, #CBCBCB);
    border: 1px solid #9F9F9F;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 0 -1px #FFFFFF inset;
    color: #545454;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}



#dashboard .box {
    margin-bottom: 20px;
}
.box.size1of2small:nth-child(2n+1), .box.unit_half:nth-child(2n+1) {
    clear: left;
    margin-left: 0;
}
.box {
    margin: 0 0px 15px;
}

.size1of2small {
    width: 48.95%;
}

.box.light .head {
    border: 1px solid #CCCCCC;
}
.box .head {
    border: 1px solid #9E9E9E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 7px;
}
.box-gradient-2 {
    background-image: linear-gradient(#F7F7F7, #EDEDED);
}


.box.light .head .text, .box.light .head .text .h4 {
    color: #535353;
}
.box .head h4.text, .box .head .h4.text {
    font-size: 14px;
    line-height: 18px;
    padding: 2px 5px;
}
.box .head .text {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
}

.box.light .subhead {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.box .subhead {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F6F6F6;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    line-height: 12px;
    padding: 8px 9px;
}

.line:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.line {
}

#dashboard .box .subhead ul li {
    font-size: 12px;
}
.action li:first-child {
    padding-left: 0;
}
.action li {
    border-right: 1px solid #CCCCCC;
    padding: 0 10px;
}

.action li a.selected {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

.box .content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 9px 9px 14px;
}


#dashboard .box .content ul li.size1of2small.unit {
    margin: 0 -5px 0 0;
    padding: 5px 0 5px 5px;
}
#dashboard .box .content ul li {
    font-size: 14px;
}


#dashboard .sales_history {
    width: 19%;
}
.chart-sales .content .stats {
    width: 19%;
}


#dashboard .sales_history .stat {
    background: url("images/dotted_line.png") repeat-x scroll left bottom transparent;
    padding: 7px 0;
}
.chart-sales .content .stats .stat {
    background: url("images/dotted_line.png") repeat-x scroll left bottom transparent;
    padding: 7px 0;
}

#dashboard .sales_history .stat label {
    color: #787878;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
}

#dashboard .sales_history .stat span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    padding: 1px 0;
}