@{
    ViewBag.Title = "ShoppingCartEmpty";
    Layout = "~/Views/Shared/_FirstLayoutNew2.fa-ir.cshtml";
}

<div class="breadcrumb">
    <a href="../Home/Index">صفحه اصلی</a>  <span class="last"> » 
  <a href="../Shopping/ShoppingCart"
                class="last">سبد خرید</a>
</div>
<h1>سبد خرید</h1>
<div class="box-container">
    <div class="content">سبد خرید خالی است!</div>
    <div class="buttons">
      <div class="left"><a class="button" href="../home/index"><span>ادامه</span></a></div>
    </div>
  </div>