@{
    ViewBag.Title = "ارسال پیام";
    Layout = "~/Views/Shared/_FirstLayoutNew2.fa-ir.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewData["userEmail"]' != null) {
            $("#txt_email").val('@ViewData["userEmail"]');
        }
        if ('@ViewData["userNameFamily"]' != null) {
            $("#txt_name").val('@ViewData["userNameFamily"]');
        }
        $("#formContactUs").ajaxForm({
            success: function (response) {
                if (response.isdone) {
                    $("#result").html(response.msg);
                }
                else
                    alert(response.msg);
            },
            complete: function (xhr) {

            }
        });

                $.ajax({ type: 'POST',
                    url: "/Home/getEmail",
                    data: $("form").serialize(),
                    success: function (response) {
                        $("#email").html(response.email);
                    },
                    dataType: "json"
                });
          
    })
</script>


<div class="container main-container headerOffset">
    <div class="row innerPage">
      <div class="col-lg-12 col-md-12 col-sm-12">
        
        <div class="row userInfo">
          
          <div class="col-xs-12 col-sm-12">
            
            <h1 class="title-big text-center section-title-style2">
              <span> Contact us </span>
            </h1>
            
            <p class="lead text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
            </p>
            
            <hr>
            
            <div class="row">
            
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                
                <h3 class="block-title-5">
                  Customer care 
                </h3>
                
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit
                  
                  <br>
                  <strong>
                    Phone number
                  </strong>
                  : 	+88-01680531352
                  <br>
                  <strong>
                    Email us
                  </strong>
                  : 	contact@tanimdesign.net
                </p>

                
              </div>
              
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                
                <h3 class="block-title-5">
                  Complaint 
                </h3>
                
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus
                  
                  <br>
                  <strong>
                    Phone number
                  </strong>
                  : 	+88-01680531352
                  <br>
                  <strong>
                    Email us
                  </strong>
                  : 	sales@tanimdesign.net
                </p>
                
                
              </div>
              
              <div style="clear:both"> </div>
              <hr>
              <div style="clear:both"> </div>
              <form id="formContactUs" action="/Home/ContactUs" method="post">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group required">
                                        <label>نام فرستنده :</label>
                                        <input name="name" class="form-control" />
                                    </div>
                                    <div class="form-group required">
                                        <label>ایمیل معتبر :</label>
                                        <input id="txt_email" name="email" class="form-control" />
                                    </div>
                 <div class="pull-left">
                                    <button class="btn btn-default" id="btn_send"><i class="fa fa-arrow-right">
                                    </i>&nbsp;ادامه خرید&nbsp; </button>
                                </div>
              </div>
              
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                 <div class="form-group required">
                                        <label>موضوع پیام :</label>
                                        <input name="subject" class="form-control" />
                                    </div>
                                    <div class="form-group required">
                                        <label>متن پیام :</label>
                                        <input name="body" class="form-control" />
                                    </div>

              </div>
              </form>
               <div style="clear:both"> </div>
              <hr>
               <div style="clear:both"> </div>
               
              <div class="w100 map">
              <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=london&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.511214,-0.119824&amp;spn=0.007264,0.021136&amp;t=m&amp;z=14&amp;output=embed">
              </iframe>
              <br />
              <small>
                <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=+&amp;q=london&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;ll=51.511214,-0.119824&amp;spn=0.007264,0.021136&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">
                  View Larger Map
                </a>
              </small>
              
            </div>
              
            </div><!--/.row-->
   		</div>
          
          
          
          
          
          
        </div> <!--/.row  ||  -->
        
      </div>
    </div>  <!--/row || innerPage end-->
    <div style="clear:both"> </div>
  </div>




<div class="breadcrumb">
   <a href="../Home/Index">صفحه اصلی</a> » <span class="last">ارتباط با ما</span>
</div>
<div class="contact-info">
    <div class="content">
        <div class="map-left">
            <div class="contact-box">
                <b>آدرس :</b><br>
                 شیراز – خیابان نادر – نبش خیابان قدمگاه – طبقه فوقانی کاریابی عدل</div>
            <div class="contact-box-2">
                <b>تلفن :</b><br>
                0711 8393016
                <br>
                <br>
                <b>همراه :</b><br>
                09178535399
            </div>
        </div>
        <div dir="ltr" class="map-content">
            <figure>
              @*<iframe width="385" height="243" src="https://maps.google.com/maps?ie=UTF8&amp;ll=29.626034,52.503748&amp;spn=0.02339,0.038581&amp;t=m&amp;z=15&amp;output=embed"></iframe>*@
                  </figure>
        </div>
    </div>
</div>


@*<div>
    <div class="header">
        <div class="dots">
            <h2>
                ارسال ایمیل
            </h2>
        </div>
    </div>
    <div id="registerForm">
        @using (Html.BeginForm())
        {
            <table class="reg_table cleaner">
                <tbody>
                    <tr>
                        <td style="text-align: center" colspan="2">
                            <div class="Error">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span style="color: #ce0000">*</span> نام فرستنده :
                        </th>
                        <td style="color: red;">
                            <input type="text" class="height20 required validate" style="width: 200px" id="txt_name"
                                name="name" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span style="color: #ce0000">*</span> ایمیل معتبر :
                        </th>
                        <td style="color: red;">
                            <input type="text" class="height20 required validate" validation="Email" style="text-align: left;
                                width: 200px" />
                            <br />
                            <span width="300px" align="left" style="font-family: tahoma; font-size: 10px; color: #999999;">
                                مثال : ali@yahoo.com </span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span style="color: #ce0000">*</span> موضوع پیام :
                        </th>
                        <td style="color: red;">
                            <input type="text" class="height20 required validate" style="width: 200px;" id="txt_subject"
                                name="subject" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span style="color: #ce0000">*</span> متن پیام :
                        </th>
                        <td style="color: red;">
                            <textarea style="width: 200px; height: 150px" class="Tahoma12lrigth required validate"
                                id="txt_body" name="body"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    <div class="cleaner" style="margin-right: 210px;">
        <input type="button" value="ارسال پیام" id="btn_send" class="btn btn-success submitBtn" />
        <br />
        <label id="result" style="color: #FF0000; font-size: 11px">
        </label>
    </div>
    <div class="cleaner">
        &nbsp;</div>
</div>*@ 