
<li><a href="#"><span class="hidden-xs">@Html.ActionLink("Save orders as Excel file", "ExportToExcel", "Home")</span></a></li>
<li><a href="#" ><span class="hidden-xs">
    @Html.ActionLink("خروج", "LogOff", "Home")</span></a></li>
<li class="hidden-xs"><a href="#" data-toggle="modal" data-target="#ModalSignup"><span
    class="hidden-xs"><a href="/Management">@ViewData["name"].ToString()</a>
</span></a></li>
