@{
    ViewBag.Title = "ارسال رمز عبور به ایمیل";
}
<h2>
    ارسال رمز عبور به ایمیل</h2>
<div class="unitRight">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new
    {
        categoryId = Request["categoryId"],
        isNew = Request["isNew"],
        isOffer = Request["isOffer"],
        isSale = Request["isSale"]
    }))
    {
        <ul class="cleaner">
            <li>
                <p style="color: #666666; font-size: 11px;">
                    ایمیل خود را که در سایت ثبت شده است وارد کرده و گزینه "ارسال" را کلیک کنید تا رمز
                    عبور به ایمیل شما ارسال شود.</p>
            </li>
        </ul>
        <ul class="cleaner">
            <li class="unitRight labelParentli80">
                <label>
                    ایمیل</label></li><li class="unitRight inputParentli">
                        <input type="text" name="email" class="usernameInput" />
                        <br />
                        مثال : ali@yahoo.com</li>
            <li class="unitRight"></li>
        </ul>
        <ul class="cleaner">
            <li class="unitRight validationMsgli">
                <label id="sendCodeResult">
                </label>
            </li>
        </ul>
        <ul class="cleaner">
            <li class="unitRight buttonParentli">
                <input type="submit" value="ارسال" class="submitBtn" /><br />
                <br />
            </li>
        </ul>
    }
    <div>
        @Html.ActionLink("بازگشت به صفحه ورود", "LogOn", "Account", new
   {
       categoryId = Request["categoryId"],
       isNew = Request["isNew"],
       isOffer = Request["isOffer"],
       isSale = Request["isSale"]
   })
    </div>
</div>
