<li class="hidden-xs"><a  href="LogOn.fa-ir"><span class="hidden-xs">
    @Html.ActionLink("My Account", "MyAccount", "Account")
</span></a></li>
<li><a href="#"><span class="hidden-xs">
    @Html.ActionLink("Sign Out", "LogOff", "Home")</span></a></li>
<li class="hidden-xs"><a href="#" data-toggle="modal" data-target="#ModalSignup"><span
    class="hidden-xs">
    @{
       @Html.ActionLink(ViewData["name"].ToString(), "MyAccount", "Account")
    }
</span></a></li>
