<li><a  href="@Url.Action("MyAccount", "Account")"><span class="hidden-xs" >My Account</span></a></li>
<li><a href="#" data-toggle="modal" data-target="#ModalLogin"><span class="hidden-xs">
    Sign In</span></a></li>
<li class="hidden-xs"><a href="#"  data-toggle="modal" data-target="#ModalSignup"><span
    class="hidden-xs">Create Account</span></a></li>
