/*
*
{
    margin: 0px;
    padding: 0px;
    border: none;
}
*/

#container
{
    float: left;
}

#header
{
    float: left;
    width: 100%;
    border-bottom: 1px dotted #5D5A53;
    margin-bottom: 10px;
}

#header h1
{
    font-size: 18px;
    float: left;
    background: url(/content/Images/logo.png) no-repeat;
    padding: 45px 0px 5px 0px;
}

#promotion
{
    height: 300px;
    width: 700px;
    background: url(/content/Images/home-showcase.png) no-repeat;
}

ul li a
{
    font-size: 16px;
}

#main
{
    overflow: hidden;
    padding: 0 0 15px 10px;
    float: left;
}

ul
{
    list-style-type: square;
    margin-left: 25px;
    font-size: 14px;
}

ul#album-list
{
    list-style: none;
    margin-left: 0px;
}

ul#album-list li
{
    height: 130px;
    width: 100px;
    float: left;
    margin: 10px;
    text-align: center;
}

ul#album-list li a, ul#album-list li .button
{
    font-size: 13px;
    float: left;
}

ul#album-list li a span
{
    color: #9b9993;
    text-decoration: underline;
}

#cart
{
    float: right;
}

#update-message
{
    color: #F6855E;
    font-weight: bold;
}

.button[type=submit]
{
    clear: both;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border: 1px;
    background: #5e5b54;
    color: #fff;
    font-weight: bold;
}

.button a
{
    color: #fff !important;
}

#footer
{
    clear: both;
    padding: 10px;
    text-align: right;
    border-top: 1px dotted #8A8575;
    border-bottom: 1px dotted #8A8575;
    font-family: Constantia, Georgia, serif;
}

/******************** Top Navigation ************************/
ul#navlist
{
    float: right;
}

ul#navlist li
{
    display: inline;
}

ul#navlist li a
{
    border-left: 1px dotted #8A8575;
    padding: 10px;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    float: left;
}

ul#navlist li:first-child a
{
    border: none;
}

ul#navlist li a:hover
{
    color: #F6855E;
}

/********************* End top navigation ***************************/

p
{
    margin-bottom: 15px;
    margin-top: 0px;
}

h2
{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}


#header h1 a, h3 em
{
    color: #5E5B54;
}

a:link, a:visited
{
    color: #F6855E;
    text-decoration: none;
    font-weight: bold;
}

a :hover
{
    color: #FF8306 !important;
    text-decoration: none;
    font-weight: bold;
}

a :active
{
    color: #006633;
    text-decoration: none;
    font-weight: bold;
}

/***************************** sidebar navigation ****************************/

#categories
{
    font-family: Constantia, Georgia, serif;
    list-style-type: none;
    border-right: #5d5a53 1px dotted;
    padding-right: 10px;
    margin: 0 25px 0 0;
    float: left;
}

#categories a:link, #categories a:visited
{
    color: #9B9993;
    text-decoration: none;
}

#categories a:hover
{
    color: #F46739;
}

div#album-details p
{
    margin-bottom: 5px;
    color: #5e5b54;
    font-weight: bold;
}

p em
{
    color: #9b9993;
}

/* Form styles */
legend
{
    padding: 10px;
    font-weight: bold;
}

fieldset
{
    border: #9b9993 1px solid;
    padding: 0 10px;
    margin-bottom: 10px;
    clear: left;
}

div.editor-field
{
    margin-bottom: 10px;
}

/* Styles for validation helpers */
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Tables */
table
{
    border: 1px solid #000;
    border-collapse: collapse;
    color: #666666;
    min-width: 500px;
    width: 100%;
}

tr
{
    border: 1px solid #000;
    line-height: 25px;
}

th
{
    background-color: #9b9993;
    color: #000;
    font-size: 13px;
    text-align: left;
}

th, td
{
    padding-left: 5px;
}

tr:hover
{
    background-color: #fff;
}
/************************my css begin**************************/
.modalContent
{
    background-color: #FFFFFF;
    padding: 50px;
    position: relative;
    z-index: 1002;
    direction: rtl;
}
.modalTitle
{
    background: transparent url('themes/Default/Images/dotted_line.png') repeat-x scroll right bottom;
    margin-bottom: 0;
    position: relative;
    white-space: nowrap;
}
.modalInfo
{
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 30px;
    padding-top: 15px;
    position: relative;
}
.infoLogin
{
    width: 650px;
}
.modalTitle h2
{
    padding-bottom: 10px;
}
.unit
{
    float: right;
}
.size1of1
{
    float: none;
}
.size1of2
{
    width: 50%;
}
.size1of3
{
    width: 33.33333%;
}
.size2of3
{
    width: 66.66666%;
}
.size1of4
{
    width: 25%;
}
.size3of4
{
    width: 75%;
}
.size2of5
{
    width: 40%;
}
.size3of5
{
    width: 60%;
}
.size4of5
{
    width: 80%;
}
.rPadded
{
    padding-left: 20px;
}
h3
{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.modalInfo p
{
    font-size: 12px;
}
.formControl
{
    margin-bottom: 1em;
    font-size: 12px;
}
.labelUp
{
    font-size: 12px;
    font-weight: bold;
    display: block;
}
.inputText
{
    border-style: none;
    border-width: medium;
    background-position: left top;
    width: 179px;
    height: 26px;
    padding: 0 2px;
    font-size: 12px;
    line-height: 26px;
    font-weight: bold;
    background: url('themes/Default/Images/input_text.png') no-repeat left top transparent;
    color: #444;
    margin-left: 2px;
    vertical-align: middle;
    background-image: url('themes/Default/Images/input_text.png') !important;
    background-repeat: no-repeat !important;
}

.inputText[disabled=disabled]{background:none;}
.inputText:focus{background-position:left -26px;color:#000;width:175px;height:26px;padding:0 4px;}
.passHelpLink
{
    margin-top: .5em;
    color: #595959;
}
.passHelpLink a
{
    text-decoration: underline;
    color: #595959;
}
.passHelpLink a:hover
{
    text-decoration: underline;
    color: #000;
}
.actions
{
    margin: 8px 0 28px;
}
.actions .butBlack
{
    background-position: right 444px;
}
.actions .button
{
    border: none;
    cursor: pointer;
    overflow: visible;
    height: 37px;
    padding: 0 17px 0 0;
    text-transform: uppercase;
    margin: 5px 6px 5px 3px;
    background-color: transparent;
    background-image: url('themes/Default/Images/button.png');
}
.actions .butBlack span
{
    background-position: 0 444px;
    color: #fff;
}
.actions .butBlack:hover
{
    background-position: right 407px;
}
.actions .butBlack:hover span
{
    background-position: 0 407px;
}
.actions .button span
{
    display: block;
    white-space: nowrap;
    padding: 11px 0 0 17px;
    height: 26px;
    _height: 25px;
    font-size: 12px;
    font-weight: bold;
    margin-left: -3px;
    _margin-left: 0;
    background-image: url(images/button.png);
    background-position: left bottom;
    text-align: center;
    min-width: 165px;
    width: auto;
    _width: 165px;
}
.line:after, .lastUnit:after
{
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0 !important;
    line-height: 0;
    font-size: xx-large;
}
.lastUnit
{
    display: table-cell;
    float: none;
    width: auto;
    display: block;
    zoom: 1;
    _right: -3px;
}

.infoLogin
{
    width: 650px;
}
.modal
{
    position: fixed;
    _position: absolute;
    z-index: 1000;
    padding: 23px 22px;
    _width: 1%;
}
#subCategoryMenu a:hover
{
    text-decoration: none;
}
#subCategoryMenu ul, li
{
    margin: 0;
    padding: 0;
}
#subCategoryMenu li
{
    font-size: small;
    font-family: arial,sans-serif;
    float: right;
}
li
{
    list-style: none;
}
form label
{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: .5em;
    display: inline-block;
}
body
{
    font: 11px / 1.231 arial,clean,sans-serif;
    position: relative;
}
.hidden{display:none!important;}
#header
{
    background-color: #006600; 
}